<form [formGroup]="form">
  <h5 class="text-secondary">Dados retornados</h5>
  <ng-container *ngFor="let inputKey of inputDataKeys">
    <ng-container *ngIf="inputData[inputKey]">
      <div class="row">
        <div class="col-md-{{ inputData[inputKey].columnSize || '12' }}">
          <app-input
            [control]="form.get(inputData[inputKey].controlName)"
            [inputData]="inputData[inputKey]"
          ></app-input>
        </div>
      </div>
    </ng-container>
  </ng-container>
</form>
