<div class="container">
  <h3>Buscar por CEP</h3>

  <div class="content">
    <div class="form-content">
      <form [formGroup]="form">
        <form [formGroup]="form" (ngSubmit)="searchCep()">
          <div class="form-group">
            <div class="search">
              <input
                type="text"
                formControlName="cep"
                mask="00000-000"
                class="form-control"
                placeholder="Começe digitando um CEP válido!"
              />
              <small
                class="form-text text-danger"
                *ngIf="!cep?.valid && cep?.touched"
              >
                Preencha o CEP para efetuar a busca.
              </small>
            </div>
            <button
              type="submit"
              class="btn btn-info rounded"
              [disabled]="!form.valid"
            >
              <i class="fas fa-search"></i> Visualizar
            </button>
          </div>
        </form>

        <div class="btn-group" role="group">
          <button
            type="button"
            class="btn btn-primary rounded"
            placement="bottom"
            ngbTooltip="Visualize o histórico de consultas"
            (click)="showHistory()"
          >
            Visualizar endereços favoritados
          </button>
          <button
            type="button"
            class="btn btn-danger rounded"
            placement="right"
            (click)="createNewAddress()"
          >
            <i class="fas fa-trash"></i> Criar endereço nos favoritos
          </button>
        </div>
      </form>
    </div>
  </div>

  <app-modal
    [showButtons]="true"
    [isOpen]="isOpen$ | async"
    (closeModalEvent)="closeModal()"
    (favoriteModalEvent)="favoriteAddress()"
  >
    <div *ngIf="cepRetrieved">
      <h3 class="modal-title fs-5">Dados retornados</h3>
      <app-cep-card [cepRetrieved]="cepRetrieved"></app-cep-card>
    </div>
  </app-modal>

  <app-modal
    [isOpen]="isOpenAddressForm$ | async"
    (closeModalEvent)="closeModal()"
  >
    <app-address-form></app-address-form>
  </app-modal>
</div>
