<div class="container mt-5 text-dark">
  <h2 class="mb-4">Cadastrar novo endereço</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="cep" class="form-label">CEP</label>
      <input
        type="text"
        class="form-control"
        id="cep"
        mask="00000-000"
        formControlName="cep"
        placeholder="Digite o CEP"
      />
    </div>

    <div class="mb-3">
      <label for="logradouro" class="form-label">Logradouro</label>
      <input
        type="text"
        class="form-control"
        id="logradouro"
        formControlName="logradouro"
        placeholder="Digite o logradouro"
      />
    </div>

    <div class="mb-3">
      <label for="complemento" class="form-label">Complemento</label>
      <input
        type="text"
        class="form-control"
        id="complemento"
        formControlName="complemento"
        placeholder="Digite o complemento"
      />
    </div>

    <div class="mb-3">
      <label for="bairro" class="form-label">Bairro</label>
      <input
        type="text"
        class="form-control"
        id="bairro"
        formControlName="bairro"
        placeholder="Digite o bairro"
      />
    </div>

    <div class="mb-3">
      <label for="localidade" class="form-label">Localidade</label>
      <input
        type="text"
        class="form-control"
        id="localidade"
        formControlName="localidade"
        placeholder="Digite a localidade"
      />
    </div>

    <div class="mb-3">
      <label for="uf" class="form-label">UF</label>
      <input
        type="text"
        class="form-control"
        id="uf"
        formControlName="uf"
        placeholder="Digite a UF"
      />
    </div>

    <div class="d-flex flex-row gap-2 w-100">
      <button class="btn btn-primary w-100" type="submit">Salvar</button>
      <button class="btn btn-light w-100" (click)="onCloseModal()">
        Voltar
      </button>
    </div>
  </form>
</div>
